@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 1vw;
  width: 10px;
  height: 1px !important;
}

::-webkit-scrollbar-thumb {
  background: brown;
  border-radius: 5px;
}
